
p{
  font-family: Roboto; 
  margin-top: 0px;
  margin-bottom: 0px;
}


input{
  margin-bottom: 5px;
  display: block;
}

body{
  margin: 0;
  padding-top: 80px;
  padding-left: 100px;
  background-color: rgb(248, 244, 244);
  /* background-color: rgb( 40 ,40, 40); */
}



